@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #4f46e5;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-card-bg: #ffffff;
  --color-border: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bg-primary text-text-main font-sans overflow-x-hidden;
}